{% extends 'main.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Log Out</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Log out</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <form action="" method="post">
                            {% csrf_token %}
                            <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                                <li class="nav-item flex-fill" role="presentation">
                                    <button style="background-color: green; color: black;" class="nav-link w-100 active"
                                        id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified"
                                        type="button" role="tab" aria-controls="home" aria-selected="true">
                                        <a style="color: black;" href="{{request.META.HTTP_REFERER}}">Go Back to
                                            previous page</a>
                                    </button>
                                </li>
                                <li class="nav-item flex-fill" role="presentation">
                                    <button style="background-color: red;" class="nav-link w-100" id="profile-tab"
                                        data-bs-toggle="tab" data-bs-target="#profile-justified" type="button"
                                        role="tab" aria-controls="profile" aria-selected="false">
                                        <input style="color: black; background-color: red;" type="submit"
                                            value="Log Out" />
                                    </button>
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}