




<form method="post" class="row g-3 needs-validation">

  {% csrf_token %}

  <div class="col-6">
    <label for="yourName" class="form-label">Your First Name</label>
    <input type="text" name="first_name" class="form-control" id="yourName" required>
    <div class="invalid-feedback">Please, enter your first name!</div>
  </div>

  <div class="col-6">
    <label for="yourName" class="form-label">Your Last Name</label>
    <input type="text" name="last_name" class="form-control" id="yourName" required>
    <div class="invalid-feedback">Please, enter your last name!</div>
  </div>

  <div class="col-6">
    <label for="yourEmail" class="form-label">Your Email</label>
    <input type="email" name="email" class="form-control" id="yourEmail" required>
    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
  </div>

  <div class="col-6">
    <label for="yourUsername" class="form-label">Phone Number</label>
    <div class="input-group has-validation">
      <input type="number" maxlength="13" name="username" class="form-control" id="yourUsername"
        required>
      <div class="invalid-feedback">Please enter your phone number.</div>
    </div>
  </div>

  <div class="col-6">
    <label for="yourPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="yourPassword" required>
    <div class="invalid-feedback">Please enter your password!</div>
  </div>

  <div class="col-6">
    <label for="yourPassword" class="form-label">Confirm Password</label>
    <input type="password" name="password1" class="form-control" id="yourPassword" required>
    <div class="invalid-feedback">Please confirm your password</div>
  </div>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
      <label class="form-check-label" for="acceptTerms">I agree and accept the
        <a href="#">terms and conditions</a></label>
      <div class="invalid-feedback">You must agree before submitting.</div>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary w-100" type="submit">Register</button>
  </div>
  <div class="col-12">
    <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
  </div>
</form>