{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'img/download.jpeg' %}" rel="icon">
  <link href="{% static 'img/download.jpeg' %}" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Icon CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
    .bi {
      font-size: 26px;
    }

    .bi[data-count]:after {
      position: absolute;
      right: 0%;
      top: 1%;
      content: attr(data-count);
      font-size: 36%;
      padding: .6em;
      border-radius: 999px;
      line-height: .75em;
      color: white;
      background: rgba(255, 0, 0, .85);
      text-align: center;
      min-width: 2em;
      font-weight: bold;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- <img style="width: 100px; height: 150px;" src="{% static 'img/k-save.png' %}" alt=""> -->
        <span style="color: green;" class="d-none d-lg-block"><b>Smart Saver </b></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i id="bellCount" class="bi bi-bell" data-count="0"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style="width: 300px;">
            <li class="dropdown-header">
              New notifications
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="text-warning"></i>
              <div id="notify">

              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="{% url 'notification' %}">Show all notifications</a>
            </li>
          </ul>

        </li>
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ user.client.profile_picture.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block ps-2" id="userLastNameSpan"
              style="text-transform: capitalize;font-size: 20px;"> {{user.first_name}}.</span>
            <span>.</span>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.last_name}}</span>
          </a>
          <script>
            // Get the element by its ID
            var lastNameSpan = document.getElementById("userLastNameSpan");

            // Get the text content and capitalize the first letter
            var lastName = lastNameSpan.textContent.trim();
            var capitalizedFirstLetter = lastName.charAt(0).toUpperCase();

            // Replace the content of the element with the capitalized first letter
            lastNameSpan.textContent = capitalizedFirstLetter;
          </script>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
              <!-- <span>Web Designer</span> -->
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'contact' %}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'my_plan' %}">
          <i class="bi bi-card-list"></i>
          <span>My Plan</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Transact</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'deposit' %}">
              <i class="bi bi-circle"></i><span>Save/Deposit</span>
            </a>
          </li>
          <li>
            <a href="{% url 'withdraw' %}">
              <i class="bi bi-circle"></i><span>Withdraw</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>History</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'deposits' %}">
              <i class="bi bi-circle"></i><span>Savings/Deposits</span>
            </a>
          </li>
          <li>
            <a href="{% url 'withdraws' %}">
              <i class="bi bi-circle"></i><span>Wthdraws</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'contact' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact us</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'about' %}">
          <i class="bi bi-card-list"></i>
          <span>About us</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>LogOut</span>
        </a>
      </li>
    </ul>
  </aside>
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/messange.js' %}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <script> -->
  var message_ele = document.getElementById("floating");
  setTimeout(function () {
  message_ele.style.display = "none"
  }, 30000);
  </script>
  <script>
    // setup chat scoket
    const notifyScoket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/notify/'
    );

    // on socket open
    notifyScoket.onopen = function (e) {
      console.log('Socket successfully connected.');
    };

    // on socket close
    notifyScoket.onclose = function (e) {
      console.log('Socket closed unexpectedly');
    };

    // on receiving message on group
    notifyScoket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const message = data.message;
      // Call the setMessage function to add the new li element
      setMessage(message);

    };

    function setMessage(message) {
      // Create a new li element
      var newLi = document.createElement('li');

      // Create a new anchor element
      var newAnchor = document.createElement('a');
      newAnchor.className = 'dropdown-item text-wrap';
      newAnchor.href = '#';
      newAnchor.textContent = message;

      // Append the anchor element to the li element
      newLi.appendChild(newAnchor);

      // Get the ul element with the id "notify"
      var ulElement = document.getElementById('notify');

      // Append the new li element to the ul element
      ulElement.appendChild(newLi);

      // getting object of count
      count = document.getElementById('bellCount').getAttribute('data-count');
      document.getElementById('bellCount').setAttribute('data-count', parseInt(count) + 1);
    }


  </script>



</body>

</html>