{% extends 'main.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>About us</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">About us</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Default Tabs Justified</h5> -->

                        <!-- Default Tabs -->
                        <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-justified" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">Welcome</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">Mission</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-justified" type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">Why choose us</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="team-tab" data-bs-toggle="tab"
                                    data-bs-target="#team-justified" type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">Meet the team</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myTabjustifiedContent">
                            <div class="tab-pane fade show active" id="home-justified" role="tabpanel"
                                aria-labelledby="home-tab">
                                At K-Save, we're passionate about helping you achieve your savings goals.
                                We understand that saving money can be challenging, but with the right tools and a clear
                                plan,
                                anyone can build a brighter financial future.
                            </div>
                            <div class="tab-pane fade" id="profile-justified" role="tabpanel"
                                aria-labelledby="profile-tab">
                                Our mission is to empower individuals to save efficiently and reach their financial
                                dreams.
                                We believe that financial stability is within everyone's reach, and we're here to guide
                                you on your savings journey.
                            </div>
                            <div class="tab-pane fade" id="contact-justified" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <b>Flexible Saving Plans:</b> We offer flexible savings plans that allow you to choose
                                the amount you want to save daily, weekly, or monthly. Whether you're saving for a
                                vacation, a new home, or a rainy day, our plans can be tailored to your needs.
                                <br><br>

                                <b>User-Friendly Interface:</b> Our user-friendly platform makes it easy to set up and
                                track your savings progress. You can view your savings history, adjust your goals, and
                                monitor your success with just a few clicks.

                                <br><br>
                                <b>Secure and Reliable:</b> Your financial security is our top priority. We use
                                state-of-the-art security measures to protect your data and ensure a safe and reliable
                                savings experience.

                                <br><br>
                                <b>Dedicated Support:</b> Our customer support team is here to assist you every step of
                                the way. If you have questions or need assistance, don't hesitate to reach out to our
                                friendly team.
                            </div>
                            <div class="tab-pane fade" id="team-justified" role="tabpanel"
                                aria-labelledby="team-tab">

                                <div class="card">
                                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                        <img src="{{ user.client.profile_picture.url }}" alt="Profile"
                                            class="rounded-circle">
                                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                                        <h3>{{user.username}}</h3>
                                    </div>
                                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                        <img src="{{ user.client.profile_picture.url }}" alt="Profile"
                                            class="rounded-circle">
                                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                                        <h3>{{user.username}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Default Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}