{% extends 'main.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>My Plan</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">My Plan</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{{ user.client.profile_picture.url }}" alt="Profile" class="rounded-circle">
                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                        <h3>{{user.username}}</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Make a Plan</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Make Plan</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Change
                                    Password</button>
                            </li>

                        </ul>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div
                                        class="col-lg-7 col-md-6 d-flex flex-column align-items-center justify-content-center">
                                        <div id="floating">
                                            {% for message in messages %}
                                            <div class="alert {{message.tags}} alert-dismissible" role="alert">
                                                <button type="submit" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{message | safe}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="card mb-3">

                                            <div class="card-body">

                                                <div class="pt-4 pb-2">
                                                    <h5 class="card-title text-center pb-0 fs-4">
                                                        Create a plan</h5>
                                                    <p class="text-center small">Fill the form to create a plan</p>
                                                </div>

                                                <form method="post" enctype="multipart/form-data"
                                                    class="row g-3 needs-validation">
                                                    {% csrf_token %}

                                                    <div class="col-12">
                                                        <label for="yourUsername" class="form-label">Target</label>
                                                        <div class="input-group has-validation">
                                                            <span class="input-group-text"
                                                                id="inputGroupPrepend">KSH</span>
                                                            <input type="number" name="number" class="form-control"
                                                                id="yourUsername" placeholder="Amount" required>
                                                            <div class="invalid-feedback">Please enter your
                                                                plan target.</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="yourUsername" class="form-label">When to
                                                            Save</label>
                                                        <div class="input-group has-validation">
                                                            <span class="input-group-text"
                                                                id="inputGroupPrepend">Select</span>
                                                            <select name="when" class="form-control" id="yourPassword"
                                                                required>
                                                                <option value="">Select your plan................
                                                                </option>
                                                                <option value="daily">Daily</option>
                                                                <option value="weekly">Weekly</option>
                                                                <option value="monthly">Monthly</option>
                                                            </select>
                                                            <div class="invalid-feedback">Please enter
                                                                amount to save/deposit</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="yourUsername" class="form-label">Amount to
                                                            deposit</label>
                                                        <div class="input-group has-validation">
                                                            <span class="input-group-text"
                                                                id="inputGroupPrepend">KSH</span>
                                                            <input type="number" name="number" class="form-control"
                                                                id="yourUsername" placeholder="Amount" required>
                                                            <div class="invalid-feedback">Please enter your
                                                                plan target.</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="remember" value="true" id="rememberMe" required>
                                                            <label class="form-check-label"
                                                                for="rememberMe">Confirm</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100"
                                                            type="submit">Submit</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{password_form.as_p}}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

{% endblock content %}